<section>

<%= form_for(@micropost, :html => {:multipart => true}) do |f| %>
	

	<div class="field">
		<%= f.text_area :content %>
	</div>
	<div class="actions">

	<%= f.submit "Submit" %>
	</div>
	



<% end %>

</section>

