<!DOCTYPE html>

<html>

<head>

<title>

Dennis On Ruby  | <%= @title %>

</title>

</head>


<body>


<h1>My Ruby About Me Page</h1>

<p><strong>Hello Thanks for visiting my Ruby About Page. Below you will find my Bio.</p>
<p>I am seeking a challenging position as a Web Developer to ex- pand my knowledge in Web design and development that I have attained through my education. This will afford me the oppor- tunity to grow within a progressive and innovative company.</strong></p>


</body>
</html>