<!DOCTYPE html>

<html>

<head>

<title>



</title>

</head>


<body>

<h1>My Ruby Home Page</h1>
<p>Welcome To Dennis On Ruby On Rails</p>
<%= link_to "Easy Click", 'home', :class => "signup_button round" %>


</body>
</html>