<% if signed_in? %>

<table class="front" summary="Signed in members">

	<tr>
	
	 <td class="main">
	 	<h1 class="micropost">What's Going On Today?</h1>
	 	<%= render 'users/shared/micropost_form' %>
	 </td>
	<td class="sidebar round">
	</td>
	
	</tr>


</table>

<% else %>
<h1>My Ruby Home Page</h1>
<p>Welcome To Dennis On Ruby On Rails</p>
<%= link_to "Become a member now!", 'signup', :class => "signup_button round" %>


<% end %>