.container {

width: 960px;

}


body {

	background: white;
}


header {

padding-top: 20px;

}

header img {

padding 1em;
background: silver;
width: 960px;
height: 200px;
}

section {

text-align: center;
margin-top: 2em;
font-size: 120%;
padding: 20px;
background: black;
border: 1px groove white;
color: white;



}

section h1 {

color:#CC9966;
font-size: 200%;

}

a {

color: #CC9966;
text-decoration: none; 

}

a:hover {

color: #CC9966;

text-decoration: underline;


}

a:visited {

color: blue;

}


nav {

    float: right; 
    background: black;
    padding: 0 0.7em;
    white-space: nowrap;
    color: white;


}


nav ul {

    margin: 0;
    padding: 0;

}


nav ul li {

    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;


}

nav ul li a {

    padding: 0 5px;
    font-weight: bold;

}

nav ul li a:visited {

    color: white;
    

}

nav ul li a:hover {

    text-decoration: underline;
    color:#CC9966;
    font-family: cursive;


}


a.signup_button {

    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: white;
    background: black;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;



}

.signup_button2 {

    background: black;
    color: #CC9966;


}


.round {
    -moz-border-radius:         10px;
    -webkit-border-radius:      10px;
    border-radius:              10px;

}


footer {

    text-align: center;
    margin-top: 10px;
    width: 710px
    margin-left: auto:
    margin-right: auto;




}

footer nav {

float: none;


}

table.profile {

width: 100%;
padding: 1em;
border: 1px groove #CC9966;
background: black;



}

td.main {

width: 70%;
padding: 1em;
color:white;
border: 1px groove white;
background: black;


}

td.sidebar {

width: 30%
padding: 1em;
vertical-align: top;
background-color:black;
color: white;

}

.profile img.gravatar {

border: 1px groove #CC9966;
margin-bottom: -15px;


}

div.field, div.actions {

    margin-bottom: 10px;

}

.field_with_errors {

    margin-top: 10px;
    padding:    2px
    background-color: red;
    display; table;

}


.field_with_errors label {

color: red;

}

#error_explanation  {

width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #00FF00;


}

#error_explanation h2  {

text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
border-color: red;
color: #00FF00;

}


#error_explanation {

color: #333;
margin-bottom: 0;
padding: 5px;

}


#error_explanation ul li {

font-size: 12px;
list-style: square;

}

ul.users {

margin-top: 1em;
width:50px;

}

ul.users li {

    list-style: none;

}

h1.micropost {


margin-bottom: 0.3em

}

table.microposts {

margin-top: 1em;
background:black;



}


table.microposts tr {


height: 70px;
color: #CC9966;

}


table.microposts tr td.gravatar {

border-top: 1px solid white;
vertical-align: top;
width: 50px;


}


table.microposts tr td.micropost {

border-top: 1px solid #CC9966;
vertical-align: top;
padding-top: 10px;



}

table.microposts tr td.micropost span.timestamp {

display: block;
font-size: 85%;
color: #CC9966;


}

div.user_info img {

padding-right: 0.1em;

}


div.user_info a {

text-decoration: none;

}


div.user_info span.user_name {

position: absolute;

}


div.user_info span.microposts {

font-size: 80%;

}

form.new_micropost {

margin-bottom: 2em;

}

form.new_micropost textarea {
border: 1px solid #CC9966;
height: 4em;
margin-bottom: 0;

}
